In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.metrics.pairwise import cosine_similarity

C:\Anaconda\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
users_df = pd.read_csv('Users.csv')
books_df = pd.read_csv('Books.csv')
ratings_df = pd.read_csv('Ratings.csv')

C:\Users\Simran Yesukumar\AppData\Local\Temp\ipykernel_17520\4053402643.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books_df = pd.read_csv('Books.csv')

In [3]:
users_df.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [4]:
users_df.isna().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [5]:
books_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271359 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

In [6]:
ratings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

In [7]:
users_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User-ID   278858 non-null  int64
 1   Location  278858 non-null  object
 2   Age       168096 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB

In [8]:
users_df['Location']

0                         nyc, new york, usa
1                  stockton, california, usa
2            moscow, yukon territory, russia
3                  porto, v.n.gaia, portugal
4         farnborough, hants, united kingdom
                         ...
278853                 portland, oregon, usa
278854    tacoma, washington, united kingdom
278855             brampton, ontario, canada
278856             knoxville, tennessee, usa
278857                  dublin, n/a, ireland
Name: Location, Length: 278858, dtype: object

In [9]:
#Splitting the location into city, state and country 
users_df[['City', 'State', 'Country']] = users_df['Location'].str.split(',', expand = True)[[0,1,2]]

In [10]:
users_df.head(2)

   User-ID                   Location   Age      City        State Country
0        1         nyc, new york, usa   NaN       nyc     new york     usa
1        2  stockton, california, usa  18.0  stockton   california     usa

In [11]:
#Dropping the duplicates in the books df on book titles 
books_df = books_df.drop_duplicates(subset = "Book-Title", keep="first")

In [12]:
#Merging ratings and their respective books
ratings_books_df = ratings_df.merge(books_df, on='ISBN')

In [13]:
ratings_booratings_books_dfks_df.head(2)

NameError: name 'ratings_booratings_books_dfks_df' is not defined

In [ ]:
ratings_books_df.info()

In [ ]:
#Drop unnecessary columns
ratings_books_df.drop(['ISBN', 'Image-URL-S', 'Image-URL-M', 'Image-URL-L'], axis = 1, inplace = True)

In [ ]:
ratings_books_df.shape

In [ ]:
ratings_books_df.head(2)

In [ ]:
#Merge user details with the ratings and book details
users_ratings_books_df = ratings_books_df.merge(users_df, on='User-ID')

In [ ]:
users_ratings_books_df.head(2)

In [ ]:
#Dropping unnecessary columns
users_ratings_books_df.drop(['Location', 'Age', 'City','State', 'Country'], axis = 1, inplace = True)

In [ ]:
users_ratings_books_df.head(2)

In [ ]:
users_ratings_books_df.shape

In [ ]:
users_ratings_books_df.isna().sum()

In [ ]:
#Dropping na rows 
users_ratings_books_df.dropna(inplace = True)

In [ ]:
users_ratings_books_df.shape

In [ ]:
book_num_ratings = users_ratings_books_df.groupby('Book-Title')['Book-Rating'].count().reset_index().rename(columns = {'Book-Rating':'Num-Ratings' })
book_avg_ratings = users_ratings_books_df.groupby('Book-Title')['Book-Rating'].mean().reset_index().rename(columns = {'Book-Rating':'Avg-Ratings' })
final_user_ratings = book_num_ratings.merge(book_avg_ratings , on = 'Book-Title')

In [ ]:
final_user_ratings.head(2)

# Popularity based filtering

In [ ]:
#Filtered out top 50 books with more than 250 ratings
popular_books = final_user_ratings[final_user_ratings['Num-Ratings'] > 250].sort_values(by = 'Avg-Ratings'  , ascending= False).reset_index(drop = True).head(50)

In [ ]:
popular_books.head(2)

# Collaborative Filtering Method

In [ ]:
#Users who have rated more than 200 books
x = users_ratings_books_df.groupby('User-ID').count()['Book-Rating'] > 200
well_read_users  = x[x].index

book_ratings = users_ratings_books_df[users_ratings_books_df['User-ID'].isin(well_read_users)]

#books with atleast 50 ratings 
y  = users_ratings_books_df.groupby('Book-Title')['Book-Rating'].count() >= 50
popular_books = y[y].index

final = users_ratings_books_df[users_ratings_books_df['Book-Title'].isin(popular_books)]

In [ ]:
final.head(2)

In [ ]:
final.shape

In [ ]:
final_df = final.pivot_table(index="Book-Title",columns = "User-ID", values="Book-Rating").fillna(0)

In [ ]:
final_df

In [ ]:
similarity_scores = cosine_similarity(final_df)

def recommend(book_name):
    # Find the index of the given book in the DataFrame
    book_index = np.where(final_df.index == book_name)[0][0]
    
    # Get similarity scores for the given book and sort them in descending order
    # Exclude the book itself by slicing [1:6] for top 5 similar books
    similar_books = sorted(
        enumerate(similarity_scores[book_index]), 
        key=lambda x: x[1], 
        reverse=True
    )[1:6]
    
    # Print the names of the similar books
    for book in similar_books:
        print(final_df.index[book[0]])

In [ ]:
recommend("stardust")

In [ ]:
recommend("204 Rosewood Lane")

# Collaborative filtering using KNN Machine Learning model

K-Nearest Neighbors (KNN) Model for Book Recommendations:
The K-Nearest Neighbors (KNN) model is used for both classification and regression tasks. For this task, I have used KNN to recommend books that are similar to a given book based on the proximity of features in a multi-dimensional space.

KNN works by calculating the "distance" between data points. In the context of books, the distance represents how similar two books are based on their features, such as genre, author, ratings, etc.
The model identifies the k nearest neighbors (similar books) to the given book. The k value specifies how many neighbors to consider for making the recommendation. In this case, n_neighbors=6 means that it considers 6 books, including the input book itself.

Recommendation Process:

When a book is selected, the model calculates the distance between the selected book and all other books in the dataset.
It then returns the k nearest neighbors (the most similar books) based on these calculated distances.

In [ ]:
from sklearn.neighbors import NearestNeighbors
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.mixture import GaussianMixture
from scipy.sparse import csr_matrix

final_dataset = final_df.copy()
final_dataset_sparse = csr_matrix(final_dataset)
knn_model = NearestNeighbors(metric='cosine',algorithm='brute')
knn_model.fit(final_dataset_sparse)

In [ ]:
def recommend_knn(book_name):
    # Get the distances and suggestions for the given book from the KNN model
    dist, sugg = knn_model.kneighbors(final_dataset[final_dataset.index == book_name], n_neighbors=6)
    
    # Print the book recommendation heading
    print(f'Book Recommendations for "{book_name}":')
    
    # Loop through the suggestions (skipping the first one, as itâ€™s the book itself)
    for i in range(1, len(sugg[0])):
        recommended_book = final_dataset.index[sugg[0][i]]
        print(f'{i}. {recommended_book}')

In [ ]:
recommend_knn('Message in a Bottle')